h1 {
    font-size: 12rem;
    /* margin-bottom: 10px; */
}

h2 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom:30px;
}

.center-text {
    text-align: center;
    /* width: 100%; */
}

body {
}

.names-font {
    font-family: 'Amatic SC', cursive;
    font-weight: 500;
}

.script-font {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
}

.menu-font {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.lander-img {
    display: block;
    /* height: 600px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    border: 8px solid rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 30px;
    max-width: 80vw;
    height:auto;
    width:auto;
    max-height:55vh;
}

.spacer {
    height: 20px;
}

.img-container {
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    /* margin-top: 30px; /\* Add a top margin to avoid content overlay *\/ */
}

.event {
    /* margin-top: 80px; */
    font-size: 80px;
}

.event-subheader {
    margin-top: 0px;
    font-size: 50px;
}


a:link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    /* color: yellow; */
    background-color: transparent;
    /* text-decoration: underline; */
}



.container {
 margin-top: 50px;
}

#nav {
    margin: 13px 0 0 0;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}

#nav a {
    text-decoration: none;
    /* added */
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;

}

#nav a:hover {
    text-decoration: underline;
}
